<h3> Bookings history for <%= @user.name %></h3>
<table class="bookings_table">
  <tr>
    <th>Room</th>
    <th>Start</th>
    <th>End</th>
  </tr>

  <% @bookings.each do |booking| %>
      <tr>

        <td>

          <%= booking.room.try(:name) %>
        </td>



        <td>

          <%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
        </td>
        <td>
          <%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
        </td>
        <td><%= link_to "Delete", user_booking_path(current_user, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
        </td>
        <td><%= link_to "Edit", edit_room_booking_path(booking.room, booking) %>
        </td>
      </tr>
  <% end %>
</table>